*{
    box-sizing: border-box;
    padding:0;
    margin: 0;     
}


.body{
    background-image: url(img/thumb-1920-749807.png);
    background-size: cover;
}


.icon{
    font-size:8vh;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.div1{
    width:30%;
    height: 100vh;
    background-color: black;
    position: relative;
    position: absolute;
    top:0%;
}

.img{
    border-radius:100%;
    width:50%;
    height: auto;
    margin-left:25%;
    margin-top:15vh;
}

.li{
color: white;
padding-top:3vh;
list-style: none;
font-size:4vh;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: black;
}


li:hover{
    color: red;
    transition:0.5s;
}

.i:hover{
    color: red;
    transition:0.5s;
}