*{
    box-sizing: border-box;
    padding:0;
    margin: 0;     
}


.body{
    background: rgb(44,34,195);
background: -moz-linear-gradient(3deg, rgba(44,34,195,1) 0%, rgba(253,45,45,1) 100%);
background: -webkit-linear-gradient(3deg, rgba(44,34,195,1) 0%, rgba(253,45,45,1) 100%);
background: linear-gradient(3deg, rgba(44,34,195,1) 0%, rgba(253,45,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c22c3",endColorstr="#fd2d2d",GradientType=1);
min-height:100vh;
}


.icon{
    font-size:8vh;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.div1{
    width:30%;
    height: 100vh;
    background-color: black;
    position: relative;
    position: absolute;
    top:0%;
}

.img{
    border-radius:100%;
    width:50%;
    height: auto;
    cursor: pointer;
    margin-left:25%;
    margin-top:15vh;
}

.li{
color: white;
padding-top:3vh;
list-style: none;
font-size:4vh;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: black;
}


li:hover{
    color: red;
    transition:0.5s;
}

.i:hover{
    color: red;
    transition:0.5s;
}